@model List<PapapaGo.Models.Bidding.Bidding>

<!DOCTYPE html>

<html>
<head>
    <title>Bid Ticket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h3>競標</h3>
    <form id="bidForm">
        <div class="panel panel-info">
            @{
                foreach (var item in Model)
                {
                    <div class="panel-heading">
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="control-label">
                                    <i class="glyphicon glyphicon-user"></i>
                                    @item.Name
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>啟程站：@item.From</label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <i class="glyphicon glyphicon-arrow-right"></i>
                                            終點站：@item.To
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <label class="control-label">價格：@item.Amount </label>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </form>
    <script>
        function bidConfirm() {
            if (confirm("Sure?")) {
                alert("Ticket Info");
            }
            else {
            }
        }

    </script>


</body>
</html>