@model dynamic
@{
    ViewBag.Title = "BidResult";
}

<div class="panel panel-success">
    <div class="panel-heading">拍賣成功</div>
    <div class="panel-body">
        ID: <a href="@ViewBag.id" url="@ViewBag.id" target="_blank">點我下載</a>
    </div>
</div>

