@model dynamic
@{
    ViewBag.Title = "BookResult";
}

<div class="panel panel-success">
    <div class="panel-heading">訂票成功</div>
    <div class="panel-body">
        ID: @ViewBag.id
    </div>
</div>

