@model PapapaGo.Sample.ConfirmResponse
@{
    ViewBag.Title = "BookResult";
}

<div class="panel panel-success">
    <div class="panel-heading">訂票成功</div>
    <div class="panel-body">
        ID: <a href="@ViewBag.id">點我下載</a>
    </div>  
</div>

