@model dynamic

<!DOCTYPE html>

<html>
<head>
    <title>OrderTicket</title>
</head>
<body>
    <div>
        <form id="orderForm">
            <table>
                <tr>
                    <td>
                        <label>Origin:</label>
                    </td>
                    <td>
                        <select id="oriSelect">
                            <option value="ST_D8NNN9ZK">Roma Termini</option>
                        </select>
                    </td>
                    <br />
                <tr>
                    <td>
                        <label>Destination:</label>
                    </td>
                    <td>
                        <select id="desSelect">
                            <option value="ST_EZVVG1X5">Milano Centrale</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">2</button>
                    </td>
                    <td>price</td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">auction</button>
                    </td>
                    <td>price</td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>